<!-- app -->
<div class="app">
    <!-- container -->
    <div class="container">
        <div class="col-md-6 app-left">
            <h3>Get The App</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
            <div class="button">
                <a href="#">DOWNLOAD</a>
            </div>
        </div>
        <div class="col-md-6">
            <iframe src="//player.vimeo.com/video/35839668" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //container -->
</div>
<!-- //app -->
<!-- app-bottom -->
<div class="app-bottom">
    <!-- container -->
    <div class="container">
        <div class="bottom-grids">
            <div class="col-md-3 bottom-grid">
                <img src="{{ asset('/bundles/bmandesktop/images/rocket.png') }}" alt="" />
                <div class="border"> </div>
                <h4>Great concept</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <div class="col-md-3 bottom-grid">
                <img src="{{ asset('/bundles/bmandesktop/images/user.png') }}" alt="" />
                <div class="border"> </div>
                <h4>Great concept</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <div class="col-md-3 bottom-grid">
                <img src="{{ asset('/bundles/bmandesktop/images/setting.png') }}" alt="" />
                <div class="border"> </div>
                <h4>Great concept</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <div class="col-md-3 bottom-grid">
                <img src="{{ asset('/bundles/bmandesktop/images/lock.png') }}" alt="" />
                <div class="border"> </div>
                <h4>Great concept</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- app-bottom -->