<!-- contact -->
<div class="contact">
    <!-- //container -->
    <div class="container">
        <div class="contact-info">
            <h3>Contact Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
            <div class="text-fields-left">
                <div class="text-field-email">
                    <form>
                        <input type="text" placeholder="Name" required="">
                    </form>
                </div>
                <div class="text-field-name">
                    <form>
                        <input type="text" placeholder="Email" required="">
                    </form>
                </div>
                <div class="clearfix"> </div>
                <div class="text-field-area ">
                    <form>
                        <textarea placeholder="Message....." required=""></textarea>
                        <input type="submit" value="SEND">
                    </form>
                    <div class="pen-img"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //contact -->