<!-- plans -->
<div class="plans">
    <!-- container -->
    <div class="container">
        <h3>Pricing Plans</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <div class="plans-grids">
            <div class="plans-grid">
                <div class="plan-text">
                    <a href="#">$ <span>25</span></a>
                    <p>/month</p>
                </div>
                <div class="plans-grid-bottom">
                    <div class="plans-grid-head">
                        <h4>Basic</h4>
                        <span>Description goes here</span>
                    </div>
                    <p>Feature 1</p>
                    <p>Feature 2</p>
                    <p>Feature 3</p>
                    <p>Feature 4</p>
                    <div class="plan-button">
                        <a class="signup play-icon popup-with-zoom-anim" href="#small-dialog2">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="plans-grid">
                <div class="plan-text">
                    <a href="#">$ <span>50</span></a>
                    <p>/month</p>
                </div>
                <div class="plans-grid-bottom">
                    <div class="plans-grid-head">
                        <h4>Standard</h4>
                        <span>Description goes here</span>
                    </div>
                    <p>Feature 1</p>
                    <p>Feature 2</p>
                    <p>Feature 3</p>
                    <p>Feature 4</p>
                    <div class="plan-button">
                        <a class="signup play-icon popup-with-zoom-anim" href="#small-dialog2">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="plans-grid">
                <div class="plan-text">
                    <a href="#">$ <span>75</span></a>
                    <p>/month</p>
                </div>
                <div class="plans-grid-bottom">
                    <div class="plans-grid-head">
                        <h4>Deluxe</h4>
                        <span>Description goes here</span>
                    </div>
                    <p>Feature 1</p>
                    <p>Feature 2</p>
                    <p>Feature 3</p>
                    <p>Feature 4</p>
                    <div class="plan-button">
                        <a class="signup play-icon popup-with-zoom-anim" href="#small-dialog2">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="plans-grid">
                <div class="plan-text">
                    <a href="#">$ <span>99</span></a>
                    <p>/month</p>
                </div>
                <div class="plans-grid-bottom">
                    <div class="plans-grid-head">
                        <h4>Premium</h4>
                        <span>Description goes here</span>
                    </div>
                    <p>Feature 1</p>
                    <p>Feature 2</p>
                    <p>Feature 3</p>
                    <p>Feature 4</p>
                    <div class="plan-button">
                        <a class="signup play-icon popup-with-zoom-anim" href="#small-dialog2">Purchase</a>
                        <!-- script-for-menu -->
                        <script>
                            $( "span.menu" ).click(function() {
                                $( "ul.nav1" ).slideToggle( 300, function() {
                                    // Animation complete.
                                });
                            });
                        </script>
                        <!-- /script-for-menu -->
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //plans -->